html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
  margin-bottom: 10px; /* Adiciona espaço entre os campos */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn, button[type="submit"] {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px; /* Adiciona espaço acima do botão */
  font-family: 'Arial', sans-serif; /* Exemplo de fonte */
  font-size: 14px; /* Exemplo de tamanho de fonte */

}

button[type="submit"]:hover {
  background-color: #0056b3;
}

:root {
  --tamanho-logo: 300px; /* Tamanho inicial da imagem */
}

/* Centralizando o logo com tamanho ajustável via variável CSS */
.img-logo {
  display: block;
  width: var(--tamanho-logo); /* Use a variável ou defina um valor específico */
  position: fixed; /* Ou 'fixed', dependendo de sua preferência */
  bottom: 0; /* Alinha a imagem na parte inferior */
  left: 0; /* Alinha a imagem à esquerda */
  transform: translateX(-10%); /* Não é necessário ajustar a posição no eixo X */
}

#loadingIndicator {
  display: none; /* Inicialmente escondido */
  position: fixed; /* Posicionamento fixo */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  z-index: 9999; /* Garante que o indicador fique no topo */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

#loadingIndicator img {
  width: 100px; /* Ajuste conforme necessário */
  height: auto;
}