/* Estilos para o formulário de cadastro e barra de navegação */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado para min-height para garantir que o conteúdo alcance toda a altura da tela */
    background-color: #f0f0f0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Largura do contêiner */
    max-width: 600px; /* Largura máxima do contêiner */
    margin-top: 70px; /* Adiciona uma margem superior para afastar o conteúdo da navbar */
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column; /* Alinhar os campos em uma coluna */
}

.label-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espaçamento inferior do rótulo */
}

.label-text {
    flex-basis: 40%; /* Largura fixa para os rótulos */
    margin-right: 20px; /* Espaçamento entre o rótulo e o campo */
    text-align: right; /* Alinhar o texto do rótulo à direita */
}

input[type="text"],
input[type="email"],
input[type="date"] {
    flex: 1; /* Para preencher o espaço restante */
    padding: 10px; /* Ajuste conforme necessário */
    border-radius: 5px; /* Adiciona bordas arredondadas aos campos */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar os campos */
    margin-right: 20px; /* Espaçamento entre o campo e o próximo rótulo */
}

input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #0056A6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056A6;
}

.custom-navbar {
    width: 100%; /* Garante que a barra de navegação ocupe toda a largura da tela */
    background-color: #0056A6; /* Cor de fundo da barra de navegação */
    align-items: flex-start; /* Alinha os itens no topo da navbar */
    position: fixed; /* Fixa a navbar na parte superior da tela */
    top: 0; /* Alinha a navbar no topo da página */
    z-index: 999; /* Define a ordem de empilhamento para garantir que a navbar esteja acima do conteúdo */
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Distribui os itens igualmente ao longo da barra de navegação */
    width: 100%; /* Faça com que a largura do menu ocupe todo o espaço disponível */
    list-style-type: none; /* Remove os marcadores de lista padrão */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

.navbar-nav .nav-item {
    width: auto; /* Define a largura automática para cada item do menu */
    text-align: center; /* Centralize o texto */
}

.navbar-nav .nav-link {
    display: block; /* Transforma o link em um elemento de bloco */
    padding: 1rem; /* Adiciona preenchimento ao redor do texto do link */
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão do link */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao fundo do link */
}

.navbar-nav .nav-link:hover {
    background-color: #0056A6; /* Cor de fundo do link ao passar o mouse sobre ele */
}

:root {
    --tamanho-logo: 300px; /* Tamanho inicial da imagem */
}

/* Centralizando o logo com tamanho ajustável via variável CSS */
.img-logo {
    display: block;
    width: var(--tamanho-logo); /* Use a variável ou defina um valor específico */
    position: fixed; /* Ou 'fixed', dependendo de sua preferência */
    bottom: 0; /* Alinha a imagem na parte inferior */
    left: 0; /* Alinha a imagem à esquerda */
    transform: translateX(-10%); /* Não é necessário ajustar a posição no eixo X */
}


/*--------------------------------------------------------------*/
/* Estilos para o modal */
#reportModal .modal-dialog {
    margin-top: 100px; /* Aumenta o espaço no topo do modal */
}

/* Estilos adicionais para o modal */
#reportModal .modal-content {
    border-radius: 8px; /* Bordas arredondadas para o modal */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra para o modal */
}

/* Estilos para o cabeçalho do modal */
#reportModal .modal-header {
    background-color: #f8f9fa; /* Cor de fundo para o cabeçalho do modal */
    border-bottom: 1px solid #e9ecef; /* Borda inferior para o cabeçalho do modal */
}

/* Estilos para o título do modal */
#reportModal .modal-title {
    color: #495057; /* Cor do texto para o título do modal */
}

/* Estilos para o corpo do modal */
#reportModal .modal-body {
    padding: 20px; /* Preenchimento interno para o corpo do modal */
}

/* Estilos para o rodapé do modal */
#reportModal .modal-footer {
    border-top: 1px solid #e9ecef; /* Borda superior para o rodapé do modal */
    background-color: #f8f9fa; /* Cor de fundo para o rodapé do modal */
}

/* Estilos para os botões do modal */
#reportModal .btn {
    border-radius: 4px; /* Bordas arredondadas para os botões */
}
