/* Reset básico para remover margens e padding padrões */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* Usando Arial como fonte padrão */
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Coloca o vídeo atrás de todo o conteúdo */
    object-fit: cover; /* Ajusta o vídeo para preencher o contêiner */
    object-position: center; /* Centraliza o vídeo no contêiner */
    opacity: 0.9; /* Define a opacidade do vídeo (entre 0 e 1) */
}

/* Estilizando o container de login para centralizar seu conteúdo */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    flex-direction: column; /* Organiza os itens em coluna */
}

/* Adaptações para o .vid-container */
.vid-container {
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário ajustada aqui */
}


:root {
    --tamanho-logo: 300px; /* Tamanho inicial da imagem */
}

/* Centralizando o logo com tamanho ajustável via variável CSS */
.img-logo {
    display: block;
    width: var(--tamanho-logo); /* Use a variável ou defina um valor específico */
    position: fixed; /* Ou 'fixed', dependendo de sua preferência */
    bottom: 0; /* Alinha a imagem na parte inferior */
    left: 0; /* Alinha a imagem à esquerda */
    transform: translateX(-10%); /* Não é necessário ajustar a posição no eixo X */
}
/* Estilizando o container do vídeo e centralizando o conteúdo */
.vid-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; /* Altura ajustável conforme a necessidade */
}

/* Estilizando o container interno */
.inner-container {
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
}

/* Estilização básica da caixa de login */
.box {
    background-color: #f2f2f2; /* Cor de fundo */
    padding: 40px;
    margin: 20px auto; /* Margem para centralizar */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilizando os inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Margem para separar os inputs */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Estilizando o botão de submit */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0056A6; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Estilizando o link de cadastro */
.btn {
    display: block;
    text-align: center;
    margin-top: 20px; /* Margem acima do link */
    color: #0056A6; /* Cor do link */
    text-decoration: none; /* Removendo sublinhado */
}

.box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o texto */
}

/* Estilo do Modal (fundo) */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}

/* Estilo do conteúdo do Modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Ajuste para uma largura menor do conteúdo do modal */
    /* Para telas menores, você pode querer uma largura diferente */
    @media (max-width: 600px) {
        width: 80%; /* Largura maior para telas menores */
    }
}

/* Título do Modal */
.modal-content h2 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.modal-content input[type="email"] {
    width: 90%; /* Ocupa toda a largura do conteúdo do modal */
    padding: 10px; /* Ajuste conforme necessário para aumentar a altura */
    margin-bottom: 15px; /* Espaço abaixo do input */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão de Enviar do Modal */
.modal-content button {
    width: auto; /* Ajuste conforme necessário para diminuir a largura */
    padding: 10px 20px; /* Ajuste o padding para controlar o tamanho */
    background-color: #0056A6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block; /* Faz o botão ser um bloco */
    margin: 0 auto 15px auto; /* Centraliza o botão e adiciona espaço acima */
}


/* O botão de fechar (x) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #0056A6   ;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}