/* CSS para o formulário de cadastro */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado para min-height para garantir que o conteúdo alcance toda a altura da tela */
    background-color: #f0f0f0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Largura do contêiner */
    max-width: 600px; /* Largura máxima do contêiner */
    margin-top: 20px; /* Adiciona uma margem superior para afastar o conteúdo da navbar */
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column; /* Alinhar os campos em uma coluna */
}

.label-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espaçamento inferior do rótulo */
}

.label-text {
    flex-basis: 40%; /* Largura fixa para os rótulos */
    margin-right: 20px; /* Espaçamento entre o rótulo e o campo */
    text-align: right; /* Alinhar o texto do rótulo à direita */
}

input[type="text"],
input[type="email"],
input[type="date"] {
    flex: 1; /* Para preencher o espaço restante */
    padding: 10px; /* Ajuste conforme necessário */
    border-radius: 5px; /* Adiciona bordas arredondadas aos campos */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar os campos */
    margin-right: 20px; /* Espaçamento entre o campo e o próximo rótulo */
}

input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #0056A6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056A6;
}

.custom-navbar {
    width: 100%; /* Garante que a barra de navegação ocupe toda a largura da tela */
    background-color: #0056A6; /* Cor de fundo da barra de navegação */
    align-items: flex-start; /* Alinha os itens no topo da navbar */
    position: fixed; /* Fixa a navbar na parte superior da tela */
    top: 0; /* Alinha a navbar no topo da página */
    z-index: 999; /* Define a ordem de empilhamento para garantir que a navbar esteja acima do conteúdo */
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Distribui os itens igualmente ao longo da barra de navegação */
    width: 100%; /* Faça com que a largura do menu ocupe todo o espaço disponível */
    list-style-type: none; /* Remove os marcadores de lista padrão */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

.navbar-nav .nav-item {
    width: auto; /* Define a largura automática para cada item do menu */
    text-align: center; /* Centralize o texto */
}

.navbar-nav .nav-link {
    display: block; /* Transforma o link em um elemento de bloco */
    padding: 1rem; /* Adiciona preenchimento ao redor do texto do link */
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão do link */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao fundo do link */
}

.navbar-nav .nav-link:hover {
    background-color: #0056A6; /* Cor de fundo do link ao passar o mouse sobre ele */
}

:root {
    --tamanho-logo: 300px; /* Tamanho inicial da imagem */
}

/* Centralizando o logo com tamanho ajustável via variável CSS */
.img-logo {
    display: block;
    width: var(--tamanho-logo); /* Use a variável ou defina um valor específico */
    position: fixed; /* Ou 'fixed', dependendo de sua preferência */
    bottom: 0; /* Alinha a imagem na parte inferior */
    left: 0; /* Alinha a imagem à esquerda */
    transform: translateX(-10%); /* Não é necessário ajustar a posição no eixo X */
}

/* Aumenta a especificidade e adiciona !important para garantir a sobreposição dos estilos padrões do Select2 */
.select2-container--default .select2-selection--single {
    height: 38px !important; /* Altura para combinar com seus inputs */
    padding: 6px !important; /* Espaçamento interno para alinhar o texto */
    border: 1px solid #ccc !important; /* Borda para combinar com seus inputs */
    border-radius: 4px !important; /* Raio da borda para combinar com seus inputs */
    background-color: white !important; /* Fundo branco para o campo */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px !important; /* Altura da linha para alinhar o texto verticalmente */
    padding-left: 30px !important; /* Espaçamento interno à esquerda */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important; /* Altura da seta para alinhar com a altura do select */
    top: 50% !important;
    transform: translateY(-50%) !important; /* Centraliza a seta verticalmente */
    right: 5px !important; /* Distância da seta da borda direita */
}
