<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        // Isso irá definir a variável JavaScript `email` para o valor passado pelo servidor Flask
        var email = "{{ reset_email }}";
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/change_password.css') }}">
</head>
<body>
    <div class="container">
        <h2>Redefinição de Senha</h2>
        <form id="resetPasswordForm">
            <input type="email" placeholder="Confirme seu e-mail" name="email" required> <!-- Novo campo para email -->
            <input type="text" placeholder="Código de Redefinição" name="resetCode" required>
            <input type="password" placeholder="Nova Senha" name="newPassword" required>
            <input type="password" placeholder="Confirme a Nova Senha" name="confirmNewPassword" required>
            <button type="button" id="resetPasswordButton" class="btn">Redefinir Senha</button>
            <a href="/" class="btn">Voltar para login</a>
        </form>
    </div>
    <div id="loadingIndicator" style="display: none;">
        <img src="/static/gif/loading.gif" alt="Carregando..." />
    </div>
    <img src="/static/image/Instagram.png" class="img-logo">
    <script>
        document.getElementById('resetPasswordButton').onclick = function(event) {
    const emailInput = document.querySelector('input[name="email"]');
    const email = emailInput.value;
    const resetCode = document.querySelector('input[name="resetCode"]').value;
    const newPassword = document.querySelector('input[name="newPassword"]').value;
    const confirmNewPassword = document.querySelector('input[name="confirmNewPassword"]').value;

    // Verifica se as senhas coincidem
    if (newPassword !== confirmNewPassword) {
        Swal.fire({
            title: 'Erro!',
            text: 'As senhas não coincidem. Por favor, tente novamente.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    } else {
        // Mostra o indicador de carregamento
        document.getElementById('loadingIndicator').style.display = 'flex';

        // Envia os dados para o servidor
        fetch('/reset_password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                email: email,
                resetCode: resetCode,
                newPassword: newPassword,
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Falha na comunicação com o servidor');
            }
            return response.json();
        })
        .then(data => {
            // Esconde o indicador de carregamento quando a ação for concluída
            document.getElementById('loadingIndicator').style.display = 'none';

            if (data.success) {
                Swal.fire({
                    title: 'Sucesso!',
                    text: 'Senha alterada com sucesso.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then(() => {
                    window.location.href = '/'; // Redireciona para a página de login
                });
            } else {
                Swal.fire({
                    title: 'Erro!',
                    text: data.message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        })
        .catch(error => {
            // Esconde o indicador de carregamento em caso de erro
            document.getElementById('loadingIndicator').style.display = 'none';

            console.error('Erro:', error);
            Swal.fire({
                title: 'Erro!',
                text: 'Ocorreu um erro. Por favor, tente novamente.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    }
};
    </script>
</body>
</html>
