<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cadastros</title>

    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/loading.css">
</head>
<body>
    <div id="loadingIndicator" style="display: none;">
        <img src="/static/gif/loading.gif" alt="Carregando..." />
    </div>
    <nav class="navbar custom-navbar flex-column custom-bg-color">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Tela Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Novo cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Lista/Editar Cadastros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Sair</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Lista de Cadastros</h1>
        <div class="search-container">
            <label for="searchInput">Pesquisar:</label>
            <input type="text" id="searchInput" placeholder="Nome ou Casa de Aposta">
        </div>
        <table>
            <tr>
                <th>Nome Completo</th>
                <th>CPF</th>
                <th>Data de Nasc.</th>
                <th>Endereço</th>
                <th>Valor Inves.</th>
                <th>Valor Receb.</th>
                <th>Lucro</th>
                <th>Valor Pago</th>
                <th>Casa de Aposta</th>
                <th></th>
                <th></th>
            </tr>
            {% for cadastro in people %}
            <tr>
                <td data-name="{{ cadastro[1] }}">{{ cadastro[1] }}</td>
                <td data-cpf="{{ cadastro[2] }}">{{ cadastro[2] }}</td>
                <td>{{ cadastro[3] }}</td>
                <td>{{ cadastro[4] }}</td>
                <td data-deposit_amount="{{ cadastro[5] }}">{{ cadastro[5] }}</td>
                <td>{{ cadastro[6] }}</td>
                <td>{{ cadastro[7] }}</td>
                <td>{{ cadastro[8] }}</td>
                <td data-betting-house="{{ cadastro[9] }}">{{ cadastro[9] }}</td>
                <td><a href="/edit/{{ cadastro[0] }}" class="btn-editar">Editar</a></td>
                <td><a href="javascript:void(0);" onclick="showDeleteModal('{{ cadastro[0] }}')" class="btn-excluir">Excluir</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Modal de Confirmação de Exclusão -->
    <div id="deleteModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Confirmar Exclusão</h2>
            <p>Tem certeza de que deseja excluir este cadastro?</p>
            <div class="button-container">
            <button id="confirmDelete" onclick="confirmDelete()">Excluir</button>
            <button onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>
    <img src="/static/image/Instagram.png" class="img-logo">
    <script>
        $(document).ready(function() {
            $('a[href="/dashboard"]').click(function() {
                $('#loadingIndicator').show(); // Atualizado para o novo ID
            });

            // Se quiser aplicar a todos os links da navegação
            $('nav a').click(function() {
                $('#loadingIndicator').show(); // Mostra o GIF de carregamento para qualquer link clicado na navegação
            });
            $(document).on('click', '#confirmDelete', function() {
                $('#loadingIndicator').show(); // Mostra o GIF de carregamento
            });
        });
        var currentDeleteId = null;
        function showDeleteModal(cadastroId) {
            currentDeleteId = cadastroId;
            document.getElementById('deleteModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('deleteModal').style.display = 'none';
        }

        function confirmDelete() {
            window.location.href = `/delete/${currentDeleteId}`;
        }

        $(document).ready(function() {
        // Evento de teclado para filtrar resultados
            $('#searchInput').keyup(function() {
                var searchText = $(this).val().toLowerCase();

                // Itera por todas as linhas da tabela
                $('table tr').each(function(index) {
                    if (index !== 0) { // Pula o cabeçalho da tabela
                        var nome = $(this).find('td[data-name]').text().toLowerCase();
                        var cpf = $(this).find('td[data-cpf]').text().toLowerCase();
                        var bettingHouse = $(this).find('td[data-betting-house]').text().toLowerCase();
                        var depositAmount = $(this).find('td[data-deposit_amount]').text().toLowerCase();

                        // Verifica se a linha deve ser mostrada ou oculta
                        var shouldShow = nome.indexOf(searchText) !== -1 || cpf.indexOf(searchText) !== -1 || bettingHouse.indexOf(searchText) !== -1;
                        $(this).toggle(shouldShow);
                    }
                });
            });
        });
    </script>
</body>
</html>
