<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <div class="login-container">
        <div class="vid-container">
            <div class="inner-container">
                <div class="box">
                    <h1>Login</h1>
                    <form action="/login" method="post" id="loginForm">
                        <input type="text" placeholder="Username" name="username"/>
                        <input type="password" placeholder="Password" name="password"/>
                        <button type="submit">Login</button>
                    </form>
                    <p><a href="#" id="forgotPasswordLink" class="btn">Esqueceu sua senha?</a></p>
                    <a href="/send_whatsapp_message" class="btn">Precisa de um acesso? Cadastro</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Redefinição de Senha -->
    <div id="resetPasswordModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Redefinição de Senha</h2>
            <form id="resetPasswordForm">
                <input type="email" placeholder="Seu e-mail" name="email" required>
                <button type="button" id="sendResetCodeButton">Enviar Código</button>
            </form>
        </div>
    </div>
    <div id="loadingIndicator" style="display: none;">
        <img src="/static/gif/loading.gif" alt="Carregando..." />
    </div>

    <!-- Posicionando a imagem no final do body para que fique no rodapé -->
    <img src="/static/image/Instagram.png" class="img-logo">
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        // Impede o envio do formulário
        e.preventDefault();

        // Exibe o indicador de carregamento
        document.getElementById('loadingIndicator').style.display = 'flex';

        // Aqui você pode fazer a chamada AJAX/Fetch se estiver fazendo o login via AJAX
        // ou simplesmente continuar com o envio do formulário se estiver fazendo o post direto.

        // Para continuar com o envio do formulário após mostrar o indicador (sem AJAX):
        this.submit(); // 'this' refere-se ao formulário

        // Se estiver usando AJAX para login, insira sua lógica de login aqui e só faça o submit ou redirecionamento baseado na resposta do AJAX.
            });
        });
        document.getElementById('forgotPasswordLink').addEventListener('click', function() {
            document.getElementById('resetPasswordModal').style.display = 'block';
        });

        document.querySelector('.close').addEventListener('click', function() {
            document.getElementById('resetPasswordModal').style.display = 'none';
        });

        document.getElementById('sendResetCodeButton').addEventListener('click', function() {
    var email = document.querySelector('#resetPasswordModal input[name="email"]').value;

    // Exibe o indicador de carregamento
    document.getElementById('loadingIndicator').style.display = 'flex';

    // Inicia o fetch para verificar o e-mail
    fetch('/verify_email', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({email: email}),
    })
    .then(response => response.json())
    .then(data => {
        // Esconde o indicador de carregamento assim que receber a resposta
        document.getElementById('loadingIndicator').style.display = 'none';

        if (data.exists) {
            // Se o e-mail existir, redireciona para a próxima página
            window.location.href = '/change_password'; // Use sua rota de inserção do código
        } else {
            // Se o e-mail não existir, mostra um alerta
            Swal.fire({
                title: 'Erro!',
                text: 'E-mail não encontrado. Por favor, verifique e tente novamente.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    })
    .catch((error) => {
        // Esconde o indicador de carregamento em caso de erro
        document.getElementById('loadingIndicator').style.display = 'none';

        // Informa ao usuário que ocorreu um erro
        console.error('Erro:', error);
        Swal.fire({
            title: 'Erro!',
            text: 'Houve um problema com a sua solicitação. Por favor, tente novamente.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    });
});
    </script>
</body>
</html>
